{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="grid">
    <a href="/tasks" role="button" class="outline">Tasks</a>
    <a href="/reports" role="button" class="outline">Reports</a>
    <a href="/targets" role="button" class="outline">Targets</a>
    <a href="/hosts" role="button" class="primary">Hosts</a>
    <a href="/schedules" role="button" class="outline">Schedules</a>
    <a href="/portlists" role="button" class="outline">Port Lists</a>
</div>
<div class="grid">
<div class="container" style="padding-top: 20px">
    <table>
  <thead>
    <tr>
      <th scope="col">Address IP</th>
      <th scope="col">Severity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for host in hosts %}
    <tr>
      <th scope="row">{{ host.name }}</th>  
      {% if host.severity|float >= 7.0 %}
      <td style="color: darkred;"> {{ host.severity }}</td>
      {% elif host.severity|float  >= 4.0 %}
      <td style="color: orange;"> {{ host.severity }}</td>
      {% elif host.severity|float > 0.0 %}
      <td style="color: lightblue;"> {{ host.severity }}</td>
      {% elif host.severity  < "0.0" %}
      {% else %}
      <td> {{ host.severity }}</td>
      {% endif %}
      <td>
        <div class="grid">
            {% if host.in_use == "0" %}
            <form action="/deletehost/{{host.id}}" method="post" style="height: 23;">
            <button style="width: 20px; height:20px;align-items: center; justify-content: center; display: flex;" class="outline">
                <i class="fa fa-trash   fa-xl"></i>
            </button>
            </form>
            </div>
            {% else %}
            <form action="/deletehost/{{host.id}}" method="post" style="height: 23;">
            <button style="width: 20px; height:20px;align-items: center; justify-content: center; display: flex;" class="outline" disabled>
                <i class="fa fa-trash   fa-xl"></i>
            </button>
            </form>
            </div>
            {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="container" style="padding-top: 20px">
<div id="container"></div>
    <script>
      anychart.onDocumentReady(function () {
        var json = {{ json|safe }}
        var chart = anychart.graph(json);

        chart.background().fill("#11191f");
        chart.nodes().labels().enabled(true);
        chart.nodes().labels().fontSize(12);
        chart.nodes().labels().fontWeight(400);
        chart.nodes().labels().fontColor("#FFFFFF");

        chart.nodes().normal().height(15);
        chart.nodes().hovered().height(20);

        chart.edges().normal().stroke("#1095C1", 2);
        chart.edges().hovered().stroke("#1095C1", 3);

        var red = chart.group("red");
        var orange = chart.group("orange");
        var blue = chart.group("blue");
        var grey = chart.group("grey");
        var white = chart.group("white");

        if (red) {
            red.normal().fill("#D80000");
            red.normal().stroke("#A80000", 2);
        }
        if (orange) {
            orange.normal().fill("#FFA500");
            orange.normal().stroke("#CF0500", 2);
        }
        if (blue) {
            blue.normal().fill("#87CEEB");
            blue.normal().stroke("#579EBB", 2);
        }
        if (grey) {
            grey.normal().fill("#DDDDDD");
            grey.normal().stroke("#AAAAAA", 2);
        }
        if (white) {
            white.normal().fill("#F0F0F0");
            white.normal().stroke("#C0C0C   0", 2);
        }

        chart.layout().type("forced");

        chart.container("container").draw();
      });
    </script>
</div>
</div>

{% endblock %}